.base {
	border: 0px;
	border-radius: 5px;
	border-style: solid;
	padding: 8px;
	font-weight: bold;
}

.solid {
	border-width: 1px;
	background-color: #4964e9;
	color: white;
}

.ghost {
	color: #4964e9;
	background-color: white;
	border: 1px solid #4964e9;
}

.soft {
	background-color: #f4f6fe;
	color: #4964e9;
}

.disabled {
	background-color: #f4f6fe;
	color: #c4c4c4;
	border: 1px solid #c4c4c4;
}
