.select-menu-wrapper {
	width: 200px;
	position: relative;
}

.select-menu-wrapper .label {
	width: 100%;
	background: transparent;
	padding: 4px;
}

.options {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	z-index: 2;
}

.option {
	border: 0px;
	background: transparent;
	background: purple;
	color: white;
	font-weight: bold;
	padding: 8px;
	text-align: left;
}
